* {
font-family: sans-serif;

}

html {
    background-color: rgb(245,245,245);
}

h1 {
    font-size: 24px;
    color:#242424;
    font-weight: 900;
}

h2 {
    font-size:20px;
    color:#606060;
    font-weight:800;
}

p {
    box-sizing: border-box;
    font-size: 14px;
    margin: 30px 0;
}

li {
    font-family:monospace;
    font-size:18px;
    padding: 10px;
}

a {
    color:black;
    font-weight: bold;
}

li a {
    color:orange;
    text-decoration:underline;
}
ul {
    box-sizing: border-box;
    margin-left: 100px;
    padding: 20px;
    border: 2px;
    border-style:solid;
    border-color :blue;
    max-width: 40%;
    list-style-type: none;
}


.neuquenRioNegro {
    color:green;
}

.neuquenRioNegro a {
    color:green;
}
ul *:hover {
    background-color: rgba(0,0,0,0.1);
}


